<!DOCTYPE html>

<html>

<head>
    <title>
        Registro
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {%include "navbar.html" %}
    {% load crispy_forms_tags %}



</head>

<body>

    <div class="container">
        <br>
        <div class="row">

            <div class="col-12 col-md offset-md">
                
                <div class="card">

                    <div class="card-body">

                        <h2 class="Titulo Registro"> User Register</h2>
                        <hr>
                        <form action="" method="post" enctype="multipart/form-data">

                            {% csrf_token %}

                            {% if messages %}
                                
                                {% for mensaje in messages %}
                                    {{ mensaje }}
                                {% endfor %}
                                
                            {% endif %}

                            {{form | crispy}}

                            <a href="/inicio" class="btn btn-warning float-left"> Login</a>
                            <input type="submit" value="Register" class="btn btn-success float-right">

                        </form>
                    </div>

                </div>



            </div>

        </div>

        <br>

    </div>

   
</body>           

</html>