<!DOCTYPE html>

<html>

<head>
    <title>
        Contact Us
    </title>
    {%include "navbar.html" %}

    <link href="/static/css/card.css" rel="stylesheet">
    <link href="/static/css/messages.css" rel="stylesheet">

</head>

<body>
    <main> 
        <div class="container-fluid cardProduct bg-trasparent my-4 p-3" style="position: relative;">

            <h3>Contact</h3>
            <hr>
            
            <div class="row">
            <div style="text-align: justify;">
                <p>We appreciate your interest in our application and welcome any inquiries or suggestions you may have. Our dedicated team is here to assist you in any way we can. Whether you have a question about a specific feature, need help with troubleshooting, or want to provide feedback to help us improve, please feel free to reach out to us using the contact form below.</p>
            
                <p>We value each and every user and strive to ensure that your experience with our application is seamless and enjoyable. Your input is invaluable to us as we continue to enhance and refine our product. Rest assured that your message will be carefully reviewed, and we will make every effort to provide you with a timely and comprehensive response.</p>
            
                <p>Thank you for considering our application, and we look forward to assisting you. Your satisfaction is our top priority, and we are committed to delivering the highest level of customer service. Don't hesitate to get in touch with us, and we'll be delighted to assist you.</p>
              </div>
            </div> 
            <div class="row">
                <div style="text-align: justify;">
                    <p>You can conctact us by:</p>
                </div> 
                <div class="container">
                    &nbsp;&nbsp;&nbsp;
                    <a href="" target="_blank"><i class="fa fa-facebook social facebook" style="font-size: 24px;"></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="" target="_blank"><i class="fa fa-google-plus social google" style="font-size: 24px;"></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="" target="_blank"><i class="fa fa-instagram" style="font-size: 24px;"></i></a>
                    <br>
                    <br>

                </div>
                <div style="text-align: justify;">
                    <p>Or write at: correo@gmail.com</p>
                </div>
                
            </div>
            <br> 
        </div> 

    </main>
    
   
</body>           
<footer>
    {%include "footer.html" %}

</footer>

</html>