<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="/static/css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-q3G/NRg+IBiDt8KjS1ndF3ntPLoDbi1iPzEzSFdyFIv/Sz0vl2WvB/FFSW9Z3t4YIY6r0p2pT5oTu+GeGkONCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    </style>
</head>
<body>
    <div class="container-fluid contenedor-footer">
        <div class="row p-5 text-white">
            <div class="col-xs-12 col-md-6 col-lg-3" style="text-align: center;">
                <img class="img-fluid iconWhite" src="/static/img/iconWhite.png" style="width: 350px; height: 150px; margin-left: auto; margin-right: auto;">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3">Social Networks</p>
                <div class="mb-2">
                    <div id="socialicons">
                        <div class="socialicon">
                            <div class="facebookcolor socialiconcircle1"></div>
                            <div class="socialiconcircle2">
                                <a href="#"><i class="fa icons fa-facebook-square facebook"></i></a>
                            </div> 
                        </div>
                        <div class="socialicon">
                            <div class="googlecolor socialiconcircle1"></div>
                            <div class="socialiconcircle2">
                                <a href="#"><i class="fa icons fa-google-plus-square google"></i></a>
                            </div> 
                        </div>
                        <div class="socialicon">
                            <div class="instagramcolor socialiconcircle1"></div>
                            <div class="socialiconcircle2">
                                <a href="#"><i class="fa icons fa-instagram text-primary"></i></a>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3">About us...</p>
                <div class="mb-2">
                    <p>In our platform, our mission is to make the process of renting items easy and convenient for you. Whether you need tools, electronics, household items, or anything else, we're here to help you find what you need.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3">Links</p>
                <div class="mb-2">
                    <a href="/help" class="text-white text-decoration-none">Help</a>  
                </div>
            </div>
        </div>
    </div>
</body>