<!DOCTYPE html>

<html>

<head>
    <title>
        Barra Navegación
    </title>
    {%include "navbar.html" %}

</head>

<body>

    <div class="container">

        <div class="row">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>

    </div>


    <div>  Inicio</div>
   
</body>           

</html>