<!DOCTYPE html>

<html>

<head>
    <title>
        My Products
    </title>
    {%include "navbar.html" %}

    <link href="/static/css/card.css" rel="stylesheet">
    <link href="/static/css/messages.css" rel="stylesheet">


</head>

<body>
    <main> 
        <div class="container-fluid cardProduct bg-trasparent my-4 p-3" style="position: relative;">

            <h3>My Products</h3>
            <hr>
            
            {% if products %}

                <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                    {% for product in products %}
                        <div class="col"> 
                            <div class="card h-100 shadow-sm"> 
                            {% if product.image %}
                                {% if product.image != "False" %}
                                    <img src="/media/{{product.image}}" alt="Product Image" class="card-img-top img-fluid">
                                {% else %}
                                    <img src="/media/noPhoto.jpg" alt="Product Image" class="card-img-top img-fluid">
                                {% endif %}
                            {% else %}
                                <img src="/media/noPhoto.jpg" alt="Product Image" class="card-img-top img-fluid">
                            {% endif %}

                                <div class="card-body"> 
                                    <div class="clearfix mb-3"> 
                                        <span class="float-start badge rounded-pill bg-primary">{{product.category}}</span>
                                        {% if product in new_products %}
                                            <span class="float-end badge rounded-pill bg-danger newProduct">New</span>
                                        {% endif %}
                                    </div>
                                    <h2 class="card-title">{{product.name}}</h2>  
                                    <h2 class="text">{{product.description}}</h2> 
                                    <div class="text-center my-4">
                                        <hr>
                                        <div>
                                            <a href="{% url 'editProductUploadByLoggedUser' product.id %}" class="btn btn-success">Edit</a>
                                        </div>
                                        <hr>
                                        <div>
                                            <a href="{% url 'deleteProductUploadByLoggedUser' product.id %}" class="btn btn-danger">Delete</a>
                                        </div>
                                        <hr>
                                        <div>
                                            <a href="/product/{{product.id}}" class="btn btn-warning">Check offer</a>
                                        </div>
                                    </div> 
                                </div> 
                            </div> 
                        </div>
                    {% endfor %}
                </div>
                
            {% else %}

                <div>
                    <h5>You still do not have uploaded products!</h5>  

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

            {% endif %}
        </div> 
    </main>
    
   
</body>           
<footer>
    {%include "footer.html" %}

</footer>

</html>