<style>
    .pagination-link {
        background-color: #2cb68d;
        color: white;
    }
</style>
<div class="row mt-3 justify-content-center">

    <nav>

        <ul class="pagination">
            {% if products.has_previous %}

                <li class="page-item">
                    <a class="page-link pagination-link" href="?page=1">FIRST</a>
                </li>
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ products.previous_page_number }}">Previous</a>
                </li>

            {% endif %}


            {% if products.has_next %}

                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ products.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ products.paginator.num_pages }}">LAST</a>
                </li>

            {% endif %}

            {% if wishLists.has_previous %}

                <li class="page-item">
                    <a class="page-link pagination-link" href="?page=1">FIRST</a>
                </li>
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ wishLists.previous_page_number }}">Previous</a>
                </li>

            {% endif %}


            {% if wishLists.has_next %}

                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ wishLists.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ wishLists.paginator.num_pages }}">LAST</a>
                </li>

            {% endif %}

            {% if wishList.has_previous %}

                <li class="page-item">
                    <a class="page-link pagination-link" href="?page=1">FIRST</a>
                </li>
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ wishList.previous_page_number }}">Previous</a>
                </li>

            {% endif %}


            {% if wishList.has_next %}

                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ wishList.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ wishList.paginator.num_pages }}">LAST</a>
                </li>

            {% endif %}

            {% if people.has_previous %}

                <li class="page-item">
                    <a class="page-link pagination-link" href="?page=1">FIRST</a>
                </li>
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ people.previous_page_number }}">Previous</a>
                </li>

            {% endif %}


            {% if people.has_next %}

                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ people.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ people.paginator.num_pages }}">LAST</a>
                </li>

            {% endif %}
            {% for page in pages %}
                {% if numPages == 1%}
                
                {%else%}
                    <li class="page-item{% if current_page == page %} active{% endif%}">
                        <a class="page-link pagination-link" href="?page={{page}}">{{page}}</a>
                    </li>
                {%endif%}

            {% endfor %}

        </ul>
    
    </nav>

</div>