<!DOCTYPE html>

<html>

<head>
    <title>
        List of users
    </title>
    {%include "navbar.html" %}
    <link href="/static/css/card.css" rel="stylesheet">
    <link href="/static/css/messages.css" rel="stylesheet">

</head>

<body>
    <main> 
        <div class="container-fluid cardProduct bg-trasparent my-4 p-3" style="position: relative;">

            <h3>List of users</h3>
            <hr>
            <h6>In this section you can find all users.</h6>  
            <br>

            {% if messages %}
                                
                {% for mensaje in messages %}
                    <div class="correcto"> {{ mensaje }}</div>
                {% endfor %}
                
            {% endif %}

            <div class="col">
                <a href="/create/user" class="btn btn-success">CREATE USER</a>
                <br>
            
                {% if people %}

                    <div class="table-responsive">
                    
                        <table class="table table-dark">
                            <br>
                                <thead class="thead">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Joined</th>
                                        <th scope="col">Bannend</th>
                                        <th scope="col">Actions</th>


                                    </tr>
                                </thead>
                                {% for person in people %}

                                    <tbody>
                                    <tr>

                                        <td>{{person.user.first_name}}</td>
                                        <td><a href="/profile/{{person.user.username}}" class="btn btn-primary">{{person.user.username}}</a></td>
                                        <td>{{person.user.date_joined}}</td>
                                        <td>
                                            {% if person.user.is_active %}
                                                No
                                            {% else %}
                                                Yes
                                            {%endif%}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="/delete/{{person.user.id}}" class="btn btn-danger">DELETE</a>
                                                &nbsp;&nbsp;&nbsp;
                                                <a href="/edit/{{person.user.id}}" class="btn btn-success">EDIT</a>
                                                &nbsp;&nbsp;&nbsp;
                                                {% if person.user.is_active %}
                                                    <a href="/banned/{{person.user.id}}" class="btn btn-warning">BAN</a>
                                                {% else %}
                                                    <a href="/unbanned/{{person.user.id}}" class="btn btn-warning">UNBAN</a>
                                                {%endif%}
                                            </div>
                                        </td>

                                    </tr>
                                    </tbody>
                                {% endfor %}

                        </table>
                    </div>

                    <div class="pagination-wrapper" >
                        {% include "pagination.html" %}
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    
                {% else %}

                    <div>
                        <h5>Not exists users yet!</h5> 
                        
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                {% endif %}
            </div>
        </div> 
    </main>
    
   
</body>           
<footer>
    {%include "footer.html" %}

</footer>

</html>